
html, body {
    height: 100%;
    width: 100%;
}

.menu-button-orange {
    background: rgba(25, 25, 25, 1) none repeat scroll 0 0;
    border: medium none;
    color: transparent;
    height: 36px;
    margin: 0;
    padding: 0;
    position: fixed;
    text-indent: 2.5em;
    width: 40px;
    z-index: 1000;
    border: 1px solid #ef824c !important;
    right: 0;
    top: 0px;
}  
.menu-button-orange::before {
    background: rgba(0, 0, 0, 0) url("../images/menu.svg") repeat scroll center center;
    bottom: 0.5em;
    content: "";
    left: 0.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.menu-wrap {
    font-size: 1.15em;
    left: -275px;
    padding: 60px 30px;
    position: fixed;
    width: 245px;
    z-index: 1001;
    background: #000;
}
